.carousel {
  margin-bottom: 3rem;
}

.carousel-caption {
  bottom: 18rem;
  z-index: 10;
}

.carousel-caption h2 {
  font-size: 40px;
}


/**/
.contact btn {
  font-size: 30px;
  font-family: 'Roboto Slab', serif;
  background-color: white;
  transition-duration: 0.5s;
  border-radius: 0;
}

.contact btn:hover {
  background-color: black;
  opacity: 80%;
  color: white;
}

.btn:active {
}


.contact {
  margin-bottom: 3rem;
}

.contact a:link {
  color: black;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Roboto Slab', serif;
}

.contact a:hover {
  opacity: 60%;
}


/*
  background-image: url('/Users/alexander/github/soundkissstudio/assets/images/soundkiss.jpg');
  background-repeat: no-repeat;
  background-size: cover;

*/

.welcome {
    margin-bottom: 1.5rem;
    text-align: center;
  }


/* Center align the text within the three columns below the carousel */
.services img {
  margin-bottom: 2rem;
}


.services .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.services h3 {
  font-family: 'Roboto Slab', serif;
}

/* rtl:begin:ignore */
.services .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
  font-family: 'Roboto', sans-serif;
}
/* rtl:end:ignore */
