.carousel{
  margin-bottom: 3rem;
}

.carousel-caption {
  bottom: 18rem;
  z-index: 10;
}

.carousel-caption h2 {
  font-size: 40px;
}


.contact {
  background-image: url('/Users/alexander/github/soundkissstudio/assets/images/soundkiss.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}



.welcome {
    margin-bottom: 1.5rem;
    text-align: center;
  }


/* Center align the text within the three columns below the carousel */
.services .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.services h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.services .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */
